LadyO.API/bin/param.config
LadyO.API/bin/
.vs/00-AGSCH-Proyects/v16/.suo
LadyO.API/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LadyO.API/obj/Release/LadyO.API.csproj.AssemblyReference.cache
